@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Helping Classes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato";
}
a {
  text-decoration: none;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
.no-border {
  border-radius: 0;
}
.bg-foreground {
  background-color: #f7f7f7;
}
.ON {
  display: block;
}
.OFF {
  display: none;
}
/* Helping Classes */
/* Upper Navbar */
.nav-item{
  color: white;
}

.nav-link {
  padding: 0px 10px;
  margin: 0;
  color: white;
  border-radius: 5px;
}
.nav-link:hover {
  color: black;
  background-color: white;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: white !important;
}
.navbar-nav .nav-link:hover:focus,
.navbar-nav .nav-link:hover:active {
  color: black !important;
}
.clicked-top-nav{
   color: black !important ;
  background-color: white;
}

/* //Upper Navbar */
/* Lower Navbar */
.logo-div {
  max-width: 200px;
}
.logo {
  max-width: 100%;
  object-fit: contain;
  width: auto;
}
@media (max-width: 768px) {
  .logo-div {
    max-width: 150px;
  }
}

.search-input {
  border: 2px solid black;
  outline: none;
  padding-inline: 20px;
  height: 100%;
  width: 100%;
}
.search-btn {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 22px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 1px;
}
.sideBarBtn i {
  font-size: 25px;
}
.sideBarBtn {
  font-size: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.slide-bar {
  transition: all 0.8s ease-in-out;
  background-color: #2e2e2e;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
}
.close-btn {
  font-size: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
.close-btn i {
  background-color: white;
  padding: 5px 6px;
  border-radius: 5px;
}

.lower-nav-btn {
  outline: 1px solid gray;
  border: none;
  background-color: white;
  padding-inline: 15px;
  padding-block: 3px;
  transition: all 0.2s ease-in-out;
  color: black;
}
.lower-nav-btn:hover {
  color: white;
  background-color: black;
}
.lower-nav-btn.active {
  color: white;
  background-color: black;
}
.search-form {
  max-width: 420px;
  height: 2.5rem;
}
@media (max-width: 768px) {
  .search-form {
    height: 2.2rem;
  }
}

/* //Lower Navbar */

/* Main */
.card-img-div {
  height: 15rem;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}
.card-img-top {
  mix-blend-mode: multiply;
  width: 90%;
  height: 90%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}
.cardsRow {
}
.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  min-height: 32rem;
  cursor: pointer;
 box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover  .card-img-top{
  transform: scale(1.05);
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-title {
  font-weight: 600;
  font-size: 18px;
  color: black;
  line-height: 19px;
}
.card-text {
  color: #555;
  font-size: 13px;
  line-height: 17px;
}

 .card .card-body .addToCart{
  width: 100%;
  margin-top: auto;
  background-color: black;
}
 .card .card-body .addToCart:hover{
  background-color: rgb(0,86,179);
}

/* Cart */
.order-summary {
  display: none;
}
.cart-card {
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  height: 150px;
  width: 90%;
  border-radius: 7px;
  flex-direction: column;
  align-items: center;
  display: none;
  justify-content: center;
}
/* Cart */

/* User Selection */
.user-selection {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 0.5rem;
  display: none;
}
.selection-data {
  align-items: center;
  border-bottom: 1px solid gray;
}
.quantity {
  width: 40px;
}
.minus,
.plus {
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  border-radius: 100%;
  padding: 0px 3px;
}
.plus:active {
  background-color: gray;
}
.minus:active {
  background-color: gray;
}
.bill-img-div {
  height: 170px;
  width: 140px;
}

.bill-img {
  width: 100%;
  padding: 10px;
  height: 100%;
}
.cart-btn {
  margin-block: 10px;
}
/* User Selection */
/*  Checkout Code*/
.label {
  cursor: pointer;
}
.label::after {
  content: "*";
  color: red;
  padding: 3px;
}
.checkoutHeadings {
  font-size: 17px;
}
.your-order {
  outline: 10px solid rgb(247, 247, 247);
}
/*  Checkout Code*/

/* Login */
.login-container {
  border: 1px solid rgba(242, 57, 127, 0.7);
  border-radius: 10px;
  display: none;
}
.signup-container {
  border: 1px solid rgba(242, 57, 127, 0.7);
  border-radius: 10px;
  display: none;
}
.username-input-div,
.password-input-div {
  border-bottom: 1px solid black;
  width: 80%;
}
.username-input,
.password-input {
  font-weight: 800;
  text-align: start;
  border: none !important;
  outline: none !important ;
  box-shadow: none !important ;
}
.username-input::placeholder {
  font-weight: 700;
}
.password-input::placeholder {
  font-weight: 700;
}
.letsGo-btn {
  outline: none;
  border: none;
  background: none;
  background-color: #583672;
  color: white;
  width: 50%;
  padding-block: 10px;
  border-radius: 9px;
  font-weight: 600;
}
.login-img-div {
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.login-img-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    212.38deg,
    rgba(242, 57, 127, 0.7) 0%,
    rgba(175, 70, 189, 0.71) 100%
  );
}
.login-img {
  min-width: 100%;
}
/* Login */
.Profile {
  display: none;
}
.profile-container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  border-radius: 7px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-container div img {
  height: 50px;
  width: 50px;
}

/* Footer */

.footer-title {
  font-weight: 600;
  font-size: 18px;
  color: white;
}
.footer-text {
  color: white;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
}
.footer-row {
  border-bottom: 1px solid #555;
}
.bg-footer {
  background-color: #2e2e2e;
}
.footer-nav-link {
  color: #bbb;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
.footer-end {
  color: #bbb;
  font-size: 13px;
}
.footer-nav-link:hover {
  color: #0056b3;
}
.footer-social-icon {
  padding: 8px;
  font-size: 17px;
  color: white;
  background-color: #007bff;
  transition: all 0.3s ease-in-out;
  border-radius: 1000px;
  margin-right: 7px;
  cursor: pointer;
}
.footer-social-icon:hover {
  background-color: #0056b3;
}

/* // Footer */

/* Sign In */
.sign-in {
  display: none;
}

/* Sign In */

/* Sign Up */
.sign-up {
  display: none;
}

/* Sign Up */
.checkout-container {
  display: none;
}
.spinner {
  background: url(assets/images/favicon.png) no-repeat center center;
     background-size: 50% 50%;
    background-color: white;
    height: 80px;
    width: 80px;
    z-index: 1000;
    position: fixed;
    border-radius: 100px;
    border-style: solid;
    top: 40%;
    left: 50%;
    transform: translate(-50px, 50px);
    font-size: larger;
    font-weight: bold;
}
.spinner-overlay {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.spinner::after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: "Loading......";
    top: 105%;
}
